body {
    margin: 0px;
    padding: 0px;
}
.area_a {
    width: 100vw;
    height: 100vh;
    background-color: green;
}
.area_a .container {
    width: 100px;
    height: 100px;
    background-color: blue;
}